{% extends 'base.html'%}


{% block content %}
<div class="hero">
    <div class="container">
        <div class="row mt-4">
        <div class="col-md-8">
            <div class="anaytic mt-4">
                <h6 class="text-muted"> <i class="fas fa-chevron-left"></i> Your number Ones Content Anaytics</h6>
            </div>
            <div class="content">
                <h1>YouTube Keyword Tool</h1>
               

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad odit eum atque excepturi debitis nam eius commodi officia esse adipisci!</p>
                 <!-- tags -->
                 <p><span class="badge badge-success">Music</span> <span class="badge badge-info">Entertainment</span> <span class="badge badge-success">Music</span>  <span class="badge badge-success">Education</span> <span class="badge badge-success">politics</span> </p>
                <div class="col">
                    <form class="form-inline  ">
                        <input class="form-control mr-sm-4 col-md-4" type="search" placeholder="Enter a Keyword to Search" aria-label="Search">
                        <select id="inputState" class="form-control mr-sm-4 m4-2">
                            <option selected>Country <i class="fas fa-sort-down"></i></option>
                            <option>Kenya</option>
                            <option>Kenya</option>
                            <option>Kenya</option>
                            <option>Kenya</option>
                            <option>Kenya</option>
                          </select>
                        <button class="btn btn-outline-success my-2 col-md-4 my-sm-0" type="submit">Search <i class="fas fa-search"></i></button>
                      </form>
                </div>
            </div>
           
            
        </div>
    </div>
    </div>
</div>

<!-- results -->

<div class="results">
    <div class="container">
        <div class="row mt-4">
            <h4>Keyword Ideas to Create Content</h4>


         
            
            <div class="col-md-12">
              <p class="text-muted mt-4">Search resault out of 10000</p>
                <!-- table -->
                <table class="table ">
                    <thead>
                      <tr>
                        <td scope="col">Keyword</td>
                        <td scope="col">Volume</td>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                       
                        <td>Mark</td>
                        <td>5.7M</td>
                       
                      </tr>
                      <tr>
                       
                        <td>Mark</td>
                        <td>5.7M</td>
                       
                      </tr>
                      <tr>
                       
                        <td>Mark</td>
                        <td>5.7M</td>
                       
                      </tr>
                      <tr>
                       
                        <td>Mark</td>
                        <td>5.7M</td>
                       
                      </tr>
                      <tr>
                       
                        <td>Mark</td>
                        <td>5.7M</td>
                       
                      </tr>
                      <tr>
                       
                        <td>Mark</td>
                        <td>5.7M</td>
                       
                      </tr>
                      <tr>
                       
                        <td>Mark</td>
                        <td>5.7M</td>
                       
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
            
        </div>
    </div>
</div>

<div class="graphs">
  <div class="container">
    <h4>Anaytics Graphs</h4>
    <div class="row mt-4">
  

      <div class="col-md-6">
       <div class="card">
         <div class="card-body">
          <canvas id="myChart" width="400" height="400"></canvas>
         </div>
       </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
           <canvas id="myChart2" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>


const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

const doug = document.getElementById('myChart2').getContext('2d');

const myChart2 = new Chart(doug,{
  type:'doughnut',
  data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },

})

</script>
{% endblock %}